---
import Header from "@/components/Header.astro";
import HeroCustom from "@/components/sections/HeroCustom.astro";
import { ExperienceContent } from "@/content/experience.content";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  const paths = ExperienceContent.map(async (project) => ({
    params: { slug: project.SLUG },
  }));

  return paths;
}

const { slug } = Astro.params;
const experience = ExperienceContent.find((p) => p.SLUG === slug);

if (!experience) {
  throw new Error(`Project with slug "${slug}" not found`);
}
---

<Layout title={`Iván Ruiz Zorrilla - ${experience.COMPANY}`}>
  <Header />
  <main
    class="flex flex-col bg-white rounded-xl shadow-lg p-5 gap-8 dark:bg-[#0f1629] dark:text-white dark:shadow-gray-600"
  >
    <HeroCustom
      breadcrumb={`Projects > ${experience.COMPANY}`}
      title={experience.COMPANY}
      subtitle={experience.TITLE}
    />
  </main>
</Layout>
